:root {
	--zrg-bg-primary-color: #0E1722;
	--zrg-bg-secondary-color: #121D2C;
	--zrg-bg-tertiary-color: #0B1117;
	--zrg-bg-gradient-color: linear-gradient(90deg, #bcfe2f 6%, #e32626 100%);

	--zrg-primary-color: #BCFE2F;
	--zrg-primary-color-inverse: #0E1722;
	--zrg-secondary-color: #121D2C;
	--zrg-secondary-color-inverse: #FFFFFF;
	--zrg-border-color: #85888B;

	--zrg-default-font: 400 16px/28px Poppins, sans-serif;
	--zrg-default-font-color: #FFFFFF;
	--zrg-default-font-size: 16px;

	--zrg-padding: 130px 0 130px 0;
	--zrg-padding-top: 130px;
	--zrg-padding-bottom: 130px;

	--zrg-mobile-padding: 60px 0 60px 0;
	--zrg-mobile-padding-top: 60px;
	--zrg-mobile-padding-bottom: 60px;

	--zrg-tablet-padding: 60px 0 60px 0;
	--zrg-tablet-padding-top: 60px;
	--zrg-tablet-padding-bottom: 60px;

	--zrg-margin: 40px 0 40px 0;
	--zrg-margin-top: 40px;
	--zrg-margin-bottom: 40px;

	--zrg-tablet-margin: 30px 0 30px 0;
	--zrg-tablet-margin-top: 30px;
	--zrg-tablet-margin-bottom: 30px;

	--zrg-mobile-margin: 20px 0 20px 0;
	--zrg-mobile-margin-top: 20px;
	--zrg-mobile-margin-bottom: 20px;

	--zrg-display1: italic 700 80px/80px Anybody, sans-serif;
	--zrg-display2: italic 700 50px/54px Anybody, sans-serif;
	--zrg-display3: italic 700 32px/45px Anybody, sans-serif;
	--zrg-display4:  700 26px/36px Anybody, sans-serif;

	--zrg-h1:  700 48px/58px Anybody, sans-serif;
	--zrg-h2: italic 700 36px/46px Anybody, sans-serif;
	--zrg-h3:  700 24px/34px Anybody, sans-serif;
	--zrg-h4:  700 20px/30px Anybody, sans-serif;
	--zrg-h5:  600 15px/24px Poppins, sans-serif;
	--zrg-h6:  600 14px/22px Poppins, sans-serif;

	--zrg-text1:  400 16px/32px Poppins, sans-serif;
	--zrg-text2:  400 14px/24px Poppins, sans-serif;
	--zrg-text3:  400 14px/24px Poppins, sans-serif;
	--zrg-text4:  400 12px/20px Poppins, sans-serif;
	--zrg-desc1:  400 16px/28px Poppins, sans-serif;
	--zrg-desc2:  400 14px/24px Poppins, sans-serif;

	--zrg-btn-color: #0E1722;
	--zrg-btn-color-hover: #0E1722;
	--zrg-btn-bg: #BCFE2F;
	--zrg-btn-bg-hover: #91db29;
	--zrg-btn-br: 105px 105px 105px 105px;
}
