
body, p {
font-family: Poppins,sans-serif;
font-size: 16px;
font-weight: 400;
color: #FFFFFF;
line-height: 28px;
}

body{
	background-color: #0E1722;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
padding: 0 15px 0 15px;
}

@media (min-width: 1200px){
.container {
	max-width: 1200px;
}
}

h1, .zrg-heading-1 {
font:  700 48px/58px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;}

h2, .zrg-heading-2 {
font: italic 700 36px/46px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;}

h3, .zrg-heading-3 {
font:  700 24px/34px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;}

h4, .zrg-heading-4 {
font:  700 20px/30px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;}

h5, .zrg-heading-5 {
font:  600 15px/24px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;}

h6, .zrg-heading-6 {
font:  600 14px/22px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;}

a {
color: #FFFFFF;
font:  400 18px/28px Poppins, sans-serif;text-transform: none;}

a:hover {
color: #BCFE2F;
}


.zrg-display-1 {
	font: italic 700 80px/80px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: uppercase;}
.zrg-display-2 {
	font: italic 700 50px/54px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: uppercase;}
.zrg-display-3 {
	font: italic 700 32px/45px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: uppercase;}
.zrg-display-4 {
	font:  700 26px/36px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;}

.zrg-text-1 {
	font:  400 16px/32px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;}
.zrg-text-2 {
	font:  400 14px/24px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;}
.zrg-text-3 {
	font:  400 14px/24px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;}
.zrg-text-4 {
	font:  400 12px/20px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;}
.zrg-desc-1 {
	font:  400 16px/28px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;}
.zrg-desc-2 {
	font:  400 14px/24px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;}

.zrg-padding{
	padding: 130px 0 130px 0;
}
.zrg-padding-top {
	padding-top: 130px;
}
.zrg-padding-right {
	padding-right: 0;
}
.zrg-padding-left {
	padding-left: 0;
}
.zrg-padding-bottom {
	padding-bottom: 130px;
}

.zrg-margin{
	margin: 40px 0 40px 0;
}
.zrg-margin-top {
	margin-top: 40px;
}
.zrg-margin-right {
	margin-right: 0;
}
.zrg-margin-left {
	margin-left: 0;
}
.zrg-margin-bottom {
	margin-bottom: 40px;
}

@media screen and (max-width: 575px) {
	body, p {
	font:  400 16px/26px Poppins, sans-serif;	}
	h1, .zrg-heading-1 {
	font:  700 38px/48px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	h2, .zrg-heading-2 {
	font: italic 700 32px/42px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	h3, .zrg-heading-3 {
	font:  700 20px/30px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	h4, .zrg-heading-4 {
	font:  700 16px/28px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	h5, .zrg-heading-5 {
	font:  600 15px/24px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	h6, .zrg-heading-6 {
	font:  600 14px/22px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	a {
	font:  400 16px/26px Poppins, sans-serif;text-transform: none;	}

	.zrg-display-1 {
	font: italic 700 50px/52px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: uppercase;	}

	.zrg-display-2 {
	font: italic 700 36px/40px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: uppercase;	}

	.zrg-display-3 {
	font: italic 700 24px/30px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: uppercase;	}

	.zrg-display-4 {
	font:  700 20px/30px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	.zrg-text-1 {
	font:  500 20px/30px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}
	.zrg-text-2 {
	font:  500 18px/28px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	.zrg-text-3 {
	font:  500 14px/24px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	.zrg-text-4 {
	font:  500 12px/20px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	.zrg-desc-1 {
	font:  400 18px/28px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}
	.zrg-desc-2 {
	font:  400 14px/24px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}
}

@media screen and (max-width: 991px) and (min-width: 576px) {
	body, p {
	font:  400 16px/26px Poppins, sans-serif;	}
	h1, .zrg-heading-1 {
	font:  700 38px/58px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	h2, .zrg-heading-2 {
	font: italic 700 32px/46px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	h3, .zrg-heading-3 {
	font:  700 20px/30px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	h4, .zrg-heading-4 {
	font:  700 16px/28px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	h5, .zrg-heading-5 {
	font:  600 15px/24px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	h6, .zrg-heading-6 {
	font:  600 14px/22px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	a {
	font:  400 16px/26px Poppins, sans-serif;text-transform: none;	}

	.zrg-display-1 {
	font: italic 700 55px/55px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: uppercase;	}

	.zrg-display-2 {
	font: italic 700 36px/40px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: uppercase;	}

	.zrg-display-3 {
	font: italic 700 24px/30px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: uppercase;	}

	.zrg-display-4 {
	font:  700 20px/30px Anybody, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	.zrg-text-1 {
	font:  500 20px/30px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}
	.zrg-text-2 {
	font:  500 18px/28px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	.zrg-text-3 {
	font:  500 14px/24px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	.zrg-text-4 {
	font:  500 12px/20px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}

	.zrg-desc-1 {
	font:  400 18px/28px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}
	.zrg-desc-2 {
	font:  400 14px/24px Poppins, sans-serif;margin-top: 0px;margin-bottom: 0px;text-transform: none;	}
}

.footer-logo img {
width: 170px}

.zrg-primary-color {
color: #BCFE2F;
}

.zrg-primary-color-inverse {
color: #0E1722;
}

.zrg-secondary-color {
color: #121D2C;
}

.zrg-secondary-color-inverse {
color: #FFFFFF;
}


	.page-footer {
	background: Array;
	}

.page-header-logo img {
width: 170px}

.page-header {
background-color: #0E1722;
padding: 25px 0 25px 0;
z-index: 25;
top: 0;
left: 0;
right: 0;
transition: 0.2s;
}

.logo {
width: 170px;
max-width: 100%;
height: auto;
}

.sticky .logo {
width: 170px;
}

.navbar-nav {
display: inline-flex;
flex-direction: row;
gap: 50px;
align-items: center;
height: 50px;
}

.menu-link {
font:  700 15px/25px Anybody, sans-serif;
text-transform: uppercase;
color: #fff;
transition: .2s;
text-decoration: none;
}

.menu-link:hover {
color: #BCFE2F;
}

.menu-link + .sub-menu .menu-link {
font:  400 15px/25px Anybody, sans-serif;
text-transform: capitalize;
transition: .2s;
text-decoration: none;
}


.menu-link .dropdown-arrow svg path {
fill: #fff;
}

.current-menu-item .menu-link, .menu-link:active {
color: #91db29;
}

.zrg-button, .zrg-vc-button > .vc_btn3-style-zrg-vc-btn-default{
background: #BCFE2F;
font-family: Poppins, sans-serif;
font-size: 18px;
font-weight: 500;
color: #0E1722;
line-height: 28px;
text-align: center;
border-radius: 105px 105px 105px 105px;
	border: 0;
padding: 15px 35px 15px 35px;
text-decoration: none;
transition: 0.2s;
}

.zrg-vc-button > .vc_btn3-style-zrg-vc-btn-default.zrg_btn_outlined {
background: transparent;
color: #BCFE2F;
border: 1px solid #BCFE2F;
}

.zrg-button:hover, .zrg-vc-button > .vc_btn3-style-zrg-vc-btn-default:hover {
background: #91db29;
color: #0E1722;
	border-color: Array;
}

.zrg-vc-button > .vc_btn3-style-zrg-vc-btn-custom.vc_general.vc_btn3 {
background: #BCFE2F;
color: #0E1722;
	border: 0;
}

.zrg-vc-button > .vc_btn3-style-zrg-vc-btn-custom.vc_general.vc_btn3:hover {
background: #91db29;
color: #0E1722;
	border-color: Array;
}

.toggle-open line {
stroke: #ffffff;
}
.toggle-open rect {
stroke: #BCFE2F;
}
.toggle-close line {
stroke: #ffffff;
}
.toggle-close rect {
stroke: #BCFE2F;
}

.page-footer {
color: #ffffff;
	background-color: #121D2C;
}

.footer-bottom{
border-top-color: #3C4145;
}

.footer-bottom p {
margin: 0;
font-family: Poppins, sans-serif;
font-size: 14px;
font-weight: 400;
color: #85888B;
line-height: 24px;
}

.zrg-lr-img {
	background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(https://zerogym.balcomsoft.com/wp-content/uploads/2022/09/login-register-2.png) ;
}

.zrg-applications-section {
}

.zrg-modal {
background: #0E1722;
}
.zrg-modal-overlay {
	opacity: 0.6;
}
.zrg-modal *:not(.zrg-button, .zrg-primary-color) {
color: #ffffff;
}
.zrg-modal-header, .zrg-modal-footer {
border-color: #3E454E;
}

@media (max-width: 992px){

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
padding: 0 15px 0 15px;
}
.header-menu {
background: #0E1722;
}
.menu-item {
border-color: #262E38;
}
.header-menu .menu-link {
font-family: Poppins, sans-serif;
font-size: 32px;
font-weight: 500;
color: #fff;
line-height: 45px;
}
.current-menu-item .menu-link {
color: #BCFE2F;
}

.menu-link .dropdown-arrow svg path {
fill: #fff;
}

.zrg-padding{
padding: 60px 0 60px 0;
}
.zrg-padding-top {
padding-top: 60px;
}
.zrg-padding-right {
padding-right: 0;
}
.zrg-padding-left {
padding-left: 0;
}
.zrg-padding-bottom {
padding-bottom: 60px;
}
.zrg-margin{
margin: 30px 0 30px 0;
}
.zrg-margin-top {
margin-top: 30px;
}
.zrg-margin-right {
margin-right: 0;
}
.zrg-margin-left {
margin-left: 0;
}
.zrg-margin-bottom {
margin-bottom: 30px;
}
}


@media (max-width: 767px){
.zrg-padding{
padding: 60px 0 60px 0;
}
.zrg-padding-top {
padding-top: 60px;
}
.zrg-padding-right {
padding-right: 0;
}
.zrg-padding-left {
padding-left: 0;
}
.zrg-padding-bottom {
padding-bottom: 60px;
}
.zrg-margin{
margin: 20px 0 20px 0;
}
.zrg-margin-top {
margin-top: 20px;
}
.zrg-margin-right {
margin-right: 0;
}
.zrg-margin-left {
margin-left: 0;
}
.zrg-margin-bottom {
margin-bottom: 20px;
}
}

@media (max-width: 576px){
.zrg-button {
	font-size: 18px;
	line-height: 28px;
	padding: 15px 35px 15px 35px;
}
}

	.zrg-page-title-section .zrg-page-title-bg {
	background-size: contain;background-position: center center;background-repeat: no-repeat;background-image: url(https://zerogym.balcomsoft.com/wp-content/uploads/2022/09/dots_db.png) 	}
	