.zrgcore-plan {
	margin-top: -55px;
}
.zrgcore-plan-card-icon {
	display: inline-block;
	margin-right: 12px;
}
.zrgcore-pricing-item {
	margin-bottom: 30px;
}
.zrgcore-pricing-item .zrgcore-card-content {
	position: relative;
	padding: 30px;
}
.zrgcore-pricing-item .zrgcore-card-content.zrg-bg-dark {
	background-color: var(--zrg-bg-primary-color);
}
.zrg-vc-section-secondary .zrgcore-pricing-item .zrgcore-card-content::before {
	background-color: var(--zrg-bg-primary-color);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.zrgcore-pricing-item .zrgcore-card-img {
	margin-bottom: 0;
}
.zrgcore-pricing-item .zrgcore-card-img img {
	height: 220px;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}
.zrgcore-pricing-item .zrgcore-status {
	color: var(--zrg-primary-color);
	margin-bottom: 12px;
	position: relative;
}
.zrgcore-pricing-item .zrgcore-card-title {
	margin-bottom: 20px;
	max-width: unset;
}
.zrgcore-pricing-item .zrgcore-card-list {
	padding-left: 0;
	margin-bottom: 30px;
	opacity: 0.8;
	list-style: none;
}
.zrgcore-pricing-item .zrgcore-card-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.zrgcore-card-list li:not(:last-child) {
	margin-bottom: 20px;
}
.zrgcore-plan .nav-pills .nav-link {
	position: relative;
	overflow: hidden;
	font: var(--zrg-display4);
	font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 13px 30px 13px 30px;
	border-radius: var(--zrg-btn-br);
	background: transparent;
	border: 1px solid transparent;
	color: var(--zrg-secondary-color-inverse);
	-webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}
.zrgcore-plan .nav-pills .nav-link span {
	position: relative;
	z-index: 2;
}
.zrgcore-plan .nav-pills .nav-link.active {
	color: var(--zrg-btn-bg-hover);
	border-color: var(--zrg-btn-bg);
	background-color: transparent;
}
.zrgcore-plan .nav-pills {
	margin: 0 !important;
	padding-left: 0;
	list-style: none;
	z-index: 10;
}
.zrgcore-plan .nav-pills .nav-link:hover {
	color: var(--zrg-btn-bg);
}
.zrgcore-plan .zrgcore-card-icon {
	position: absolute;
	bottom: -47.5px;
	left: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 95px;
	height: 95px;
	background-color: var(--zrg-bg-primary-color);
}
.zrgcore-plan .zrgcore-card-icon [class^="flaticon-"]:before,
.zrgcore-plan .zrgcore-card-icon [class*=" flaticon-"]:before,
.zrgcore-plan .zrgcore-card-icon [class^="flaticon-"]:after,
.zrgcore-plan .zrgcore-card-icon [class*=" flaticon-"]:after {
	font-size: 54px;
	color: var(--zrg-primary-color);
	font-weight: 600;
}
.zrgcore-card-price {
	color: var(--zrg-secondary-color-inverse);
}
.zrgcore-card-btn span {
	position: relative;
	z-index: 2;
}
.zrgcore-popular-content {
	position: absolute;
	bottom: 0;
	right: 0;
	background: var(--zrg-primary-color);
	color: var(--zrg-primary-color-inverse);
	padding: 10px 26px;
}
.zrgcore-popular-content:before {
	content: "";
	position: absolute;
	left: -23PX;
	bottom: 0;
	TOP: 0;
	border: 15px solid transparent;
	border-bottom: 32px solid var(--zrg-primary-color);
	border-right: 8px solid var(--zrg-primary-color);
}
.zrgcore-popular-content:after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: var(--zrg-primary-color);
	border-radius: 4px;
}
.zrgcore-plan .tab-pane.active.show {
	display: block;
}
.zrgcore-plan .tab-pane {
	display: none;
}
.zrgcore-popular-icon {
	margin-right: 10px;
}
.zrgcore-pricing-item .zrgcore-card-content.zrg-pricing-opacity::before {
	opacity: 0.8;
}
.zrgcore-pricing-item .zrgcore-card-content::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: var(--zrg-bg-secondary-color);
	-webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 35%);
	box-shadow: 0 4px 10px rgb(0 0 0 / 35%);
}
@media (min-width: 1200px) {
	.zrgcore-plan .row>div:nth-last-child(1) .zrgcore-card, .zrgcore-plan .row>div:nth-last-child(2) .zrgcore-card, .zrgcore-plan .row>div:nth-last-child(3) .zrgcore-card {
		margin-bottom: 0;
	}
	.zrgcore-plan-column-top.zrgcore-plan .row>div:nth-last-child(3) .zrgcore-card {
		margin-bottom: 30px;
	}
}
@media (max-width: 991px) {
	.zrgcore-pricing-item .zrgcore-card-img img {
		max-height: 400px;
	}
	.zrgcore-pricing-item .zrgcore-card-title {
		min-height: 0;
		margin-bottom: 30px;
	}
	.zrgcore-pricing-item .zrgcore-card-list {
		margin-bottom: 40px;
		min-height: unset;
	}
}
@media (max-width: 767px) {
	.zrgcore-plan .row {
		display: block;
		padding-bottom: 20px;
	}
	.zrgcore-plan .zrgcore-pricing-item .zrgcore-card-content {
		padding: 25px;
	}
	.zrgcore-plan {
		margin-top: 30px;
	}
	.zrgcore-plan .nav-pills {
		margin-bottom: 35px !important;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.zrgcore-plan .nav-pills .nav-item {
		width: 33.3%;
	}
	.zrgcore-plan .nav-pills .nav-link {
		width: 100%;
		padding: 13px 5px;
	}
}
