*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
FONT
font-family: 'Roboto', sans-serif;
font-family: 'Sono', sans-serif;    - for button
font-family: 'Ubuntu', sans-serif;


COLOR
color: #AFA895;  - khaki
color: #DEEF0B;
color: #4C4F17;  - dark moss green
color: #fff;  - white
background-color: #1D1D1D; - lemon lime
*/


body{
    background-color: #1D1D1D;
    color: #fff;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #191919;
    box-shadow: 0 0 5px #232323;
    color: #fff;
    height: 5.8rem;
    padding: 1.6rem 0;
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navtext{
    font-size: 1.5rem;
}

.navtext span{
    color: #DEEF0B;
}

.nav-title a{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: #fff;
}

li{
    list-style: none;
}

.hamburger{
    display: none;
}

.hamburger span{
    display: block;
    background-color: #fff;
    width: 25px;
    height: 2px;
    margin: 4px;
}

.account{
    display: flex;
    align-items: center;
}

.account a{
    padding: .4rem 1.4rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.login{
    border: 1px solid #DEEF0B;
}
.navlinks ul{
    display: flex;
    align-items: center;
}

.navlinks a{
    padding: 0 .8rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

/*BACKGROUND IMAGE*/
.sms{
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 89vh;
}

swiper-slide {
    display: flex;
    width: 100%;
}  

swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slide1{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/img9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/img10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide3{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/img11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-details{
    width: 35rem;
    margin-left: 6rem;
    margin-top: 15rem;
}

.cardtext{
    font-size: 2.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 2.7rem;
}

.navigation{
    color: #fff;
}

.cardbutton{
    border: none;
    outline: none;
    background-color: #DEEF0B;
    padding: .6rem 1.2rem;
    font-family: 'Sono', sans-serif;
    font-weight: 500;
    border-radius: 2rem;
}

.cardbutton a{
    color: #000; 
}



/*Section 2*/
.sect2{
    width: 1400px;
    margin: auto;
}

.sect2-head{
    text-align: center;
    margin-bottom: 2.2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.container2{
    width: 37rem;
    font-family: 'Ubuntu', sans-serif;
}

.container2-header{
    font-size: 3.4rem;
}

.container2-header span{
    color: #DEEF0B;
}

.container2-text{
    margin: 2.5rem 0;
    width: 25rem;
    word-spacing: 3px;
    font-size: 1.1rem;
}

.container1 img {
    width: 80%;
    height: 30rem;
    object-fit: cover;
}

.container2-btn{
    background-color: #DEEF0B;
    color: #000;
    padding: .7rem 1.3rem;
    font-family: 'Sono', sans-serif;
    font-weight: 500;
    border-radius: 2rem;
}

.sect2-icon{
    background-color: #DEEF0B;
    color: #000;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    position: absolute;
    left: 24rem;
    bottom: -25rem;
    z-index: 2;
}


/*SECTION 3*/
.sect3{
    background-color: #171717;
    padding-bottom: 1rem;
}

.sect3-container{
    width: 1400px;
    margin: 2rem auto;
}

.sect3-header h1{
    text-align: center;
    margin: 2rem 0;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 5rem;
    font-size: 2.4rem;
}

.cardbox img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardbox{
    width: 20rem;
    background-color: #1D1D1D;
    margin: .8rem;
   /*border-radius: 1rem;
   overflow: hidden;*/
}

.card-text{
    margin: .1rem auto;
    width: 80%;
}

.cardtext2{
    font-family: 'Ubuntu', sans-serif;
}

.cardtitle{
    margin: 1rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}



/*SECT 4*/
.sect4{
    width: 1400px;
    margin: 2.5rem auto;
}

.sect4header{
    text-align: center;
    margin: 2rem 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
}

.sect4-container{
    display: flex;
}

.con{
    width: 30rem;
    background-color: #171717;
    margin: 1rem;
    padding: 2rem 0;
}

.con-head{
    text-align: center;
    margin: 2rem 0;
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
}

.con-price{
    background-color: #1D1D1D;
    max-width: 15rem;
    padding: 2rem 0;
    margin: 0 auto;
    box-shadow: 0, 0, 3rem;
    text-align: center;
    border-radius: 1rem;
}

.price1{
    font-size: 2rem;
    color: #DEEF0B;
}

.price2{
    color: #d0cfd0;
}

.benefits{
    max-width: 15rem;
    margin: 2rem auto;
}

.benefits li{
    padding: .4rem .8rem;
    color: #d0cfd0;
}

.benefits-icon{
    display: flex;
    align-items: center;
}

.benefits-btn{
    text-align: center;
}

.benefits-btn span{
    border: 2px solid #DEEF0B;
    padding: .6rem 2rem;
    border-radius: 1.5rem;
    margin: 2rem 0;
    font-family: 'Sono', sans-serif;
}

.Platinum{
    margin: 1.2rem 0;
}



/*SECT 5*/


.sect5-header{
    font-family: 'Ubuntu', sans-serif;
}

.sect5-header span{
    color: #DEEF0B;
}


