*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1D1D1D;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

li{
    list-style: none;
}

.nav{
    background-color: #191919;
    box-shadow: 0 0 5px #232323;
    position: sticky;
    top: 0;
}

.nav-title a{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.hamburger{
    display: block;
}

.hamburger span{
    display: block;
    width: 2rem;
    height: 2px;
    background-color: #fff;
    margin: 4px;
}

.navlinks{
    display: none;
    background-color: #1D1D1D;
    position: absolute;
    width: 80%;
    height: 100vh;
    top: 0;
    right: 0;
}

.navlinks ul, .account{
    position: relative;
    left: 2rem;
    top: 4rem;
}

.navlinks li{
    padding: 1rem 0;
    font-size: 1.1rem;
    border-bottom: 1px solid #414040;
}

.navlinks li:hover{
    color: #DEEF0B;
}

.navlinks li:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.account{
    font-size: 1.1rem;
}

.account a:hover{
    color: #DEEF0B;
}

.account:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.account1{
    display: none;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #DEEF0B;
    padding: .4rem 1.5rem;
}

.account1 a{
    color: #000;
}

.account1:hover {
    background-color: #9ca704;
}

.account1:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.navlinks.show {
    display: block;
  }

.fa-times{
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    font-size: 1.8rem;
}


/*BACKGROUND*/
.blog-header{
    font-size: 3rem;
    font-weight: 500;
}

.blog-image{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/img30.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 62vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.input-flex{
    display: flex;
    justify-content: center;
}

/*SEARCH BAR*/
.searchbar{
    width: 90%;
    margin: 3rem auto;
}

.input-flex input{
    width: 25rem;
    height: 3rem;
    border: 1px solid #d0cfd0;
    outline: none;
    background-color: transparent;
    color: #fff;
    padding: 1rem;
    font-weight: 500;
}

.input-flex button{
    width: 4rem;
    background-color: #DEEF0B;
    outline: none;
    border: none;
    font-weight: 500;
}

/*SECT 2*/
.card-details{
    width: 90%;
    margin: 3rem auto;
}

.blog-img img{
    width: 100%;
    display: block;
    height: 40vh;
    object-fit: cover;
}

.blog-card{
    width: 100%;
    height: 34rem;
    margin: 1rem;
}

.blog-item1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-card{
    margin: 1rem .6rem;
}

.blog-text1{
    margin: 1rem 0;
}

.blog-text2{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.blog-text2 a:hover{
    color: #DEEF0B;
}

.blog-text3{
    font-size: 1rem;
    color: #d0cfd0;
}

.blog-btn{
    margin: 1rem 0;
    background-color: #DEEF0B;
    width: 8rem;
    color: #000;
    text-align: center;
    padding: .5rem .7rem;
}

.line{
    width: 100%;
    background-color: #414040;
    height: 1px;
}



/*FOOTER*/
footer{
    width: 90%;
    margin: 2rem auto;
}

.footer-container{
    display: flex;
    flex-direction: column;
}

.footer-item{
    padding: 1rem 0;
}

.footer-header{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .7rem;
}

.footer-text1 ul{
    color: #d0cfd0;
}

.footer-text1 li{
    margin-bottom: .8rem;
}

.footer-text1 li:hover{
    color: #DEEF0B;
    cursor: pointer;
}

.footer-text p{
    color: #d0cfd0;
}

.footer-item input{
    margin: 1rem 0;
    width: 100%;
    height: 3rem;
    padding: 0 .6rem;
    outline: none;
    border: 1px solid #d0cfd0;
    background-color: transparent;
}

.footer-btn{
    width: 50%;
    padding: .8rem 2rem;
    border: none;
    outline: none;
    background-color: #DEEF0B;
    font-weight: 500;
    font-size: 1rem;
}





@media screen and (min-width: 750px) {
    .navlinks{
        width: 50%;
    }


    /*SECT 2*/
    .card-details{
        margin-top: 1rem;
        margin-bottom: 3rem;
        padding: 2rem 0;
    }

    .blog-item1{
        flex-direction: row;
    }

    .blog-card{
        width: 30%;
    }

    /*FOOTER*/
    .footer-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-btn{
        width: 50%;
        padding: .6rem 1.3rem;
        font-size: .9rem;
    }

    .news{
        width: 35%;
    }

    .footer-item input{
        width: 100%;
    }
}




@media screen and (min-width: 1024px) {
    .navbar{
        justify-content: space-between;
        align-items: center;
        margin: 0 4rem;
    }

    .nav-title a{
        font-size: 1.6rem;
        font-weight: 500;
    }
    
    .navbar{
        padding: 2rem 1.2rem;
    }

    .navlinks{
        display: flex;
        justify-content: space-between;
        background-color: unset;
        position: unset;
        width: unset;
        height: unset;
        top:unset;
        right: unset;
    }

    .navlinks li a{
        font-size: 1.3rem;
    }

    .hamburger{
        display: none;
    }

    .fa-times{
        display: none;
    }

    .navlinks ul{
        display: flex;
    }

    .navlinks ul, .account{
        position: unset;
        left: unset;
        top: unset;
    }

    .navlinks li{
        padding: 0 1rem;
        font-size: 1.1rem;
        border-bottom: unset;
    }

    .account{
        display: none;
    }

    .account1{
        display: block;
        font-size: 1.1rem;
    }


   /*SECT 2*/
.card-details{
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 2rem 0;
}

.blog-item1{
    flex-direction: row;
}

.blog-card{
    width: 31%;
}

    /*FOOTER*/
    .footer-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-item{
        padding: unset;
    }

    .footer-btn{
        width: 35%;
        padding: .8rem 1.4rem;
    }

    .news{
        width: 35%;
    }

    .footer-item input{
        width: 100%;
    }
}