*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1D1D1D;
    color: #fff;
}

.nav{
    background-color: #191919;
    box-shadow: 0 0 5px #232323;
    position: sticky;
    top: 0;
}

.nav-title a{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.hamburger{
    display: block;
}

.hamburger span{
    display: block;
    width: 2rem;
    height: 2px;
    background-color: #fff;
    margin: 4px;
}

.navlinks{
    display: none;
    background-color: #1D1D1D;
    position: absolute;
    width: 80%;
    height: 100vh;
    top: 0;
    right: 0;
}

.navlinks ul, .account{
    position: relative;
    left: 2rem;
    top: 4rem;
}

.navlinks li{
    padding: 1rem 0;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 1px solid #414040;
}

.navlinks li:hover{
    color: #DEEF0B;
}

.navlinks li:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.account{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
}

.account a:hover{
    color: #DEEF0B;
}

.account:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.account1{
    display: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #DEEF0B;
    padding: .4rem 1.5rem;
}

.account1 a{
    color: #000;
}

.account1:hover {
    background-color: #9ca704;
}

.account1:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.navlinks.show {
    display: block;
  }

.fa-times{
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    font-size: 1.8rem;
}


.contact-container{
    min-height: 100vh;
    background-image: url(../images/img11.jpg);
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--textColor);
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 2rem;
}

.overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: 0;
}

.contact-container > div.contact-box{
    width: 60%;
    min-height: 400px;
    border: 2px solid var(--textColor);
    border: 2px solid #555;
    border-radius: .25rem;
    z-index: 1;
    padding: 2rem;
    background-color: rgba(0, 0, 0, .75);
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, .72);
}


div.contact-box > article{
    padding: 0 1rem ;
}

div.contact-box > article.contact-list{
    width: 30%;
}

div.contact-box > article.contact-message{
    width: 70%;
}

article.contact-list > h2.contact-heading{
    margin-bottom: .75rem;
    color: var(--secondaryColor);
}

article.contact-list > ul{
    margin: 0 0 1rem 0;
}

article.contact-list > ul > h4.list-heading{
    margin-bottom: .5rem;
}

article.contact-list > ul > li {
    margin-bottom: .5rem;
    font-size: .75rem;
}

article.contact-list > ul > li > i{
    margin-right: 1rem;
    color: var(--secondaryColor);
}


.contact-message{
    flex-direction: column;
}

.contact-message > h2.heading{
    text-align: center;
    margin-bottom: .75rem;
    color: var(--secondaryColor);

}

.contact-textarea{
    width: 100%;
    outline: none;
    border: none;
    background-color: #f3f3f3;
    padding: 1rem .5rem;
}

.contact-message > button.btn{
    width: 100%;
    background-color: var(--secondaryColor);
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid var(--secondaryColor);
    color: white;
    transition: all .5s linear;
}

section.contact-footer{
    bottom: 1.5rem;
    left: 2.5rem;
    width: 100%;
    left: 0;
    padding: 0 2rem;
    color: #888;
}

section.contact-footer > div.subscribe-area{
    flex-direction: column;
  
}

.subscribe-area{
    width: 30%;
    
}

.subscribe-area > input{
    height: 2.25rem;
    outline: none;
    border: none;
    border-radius: .25rem;
    margin-bottom: .25rem;
    padding: 0 .25rem;
}

.subscribe-area > button{
    background-color: var(--secondaryColor);
}

section.contact-footer > address{
    flex: 1;
    padding-left: 2rem;
}

.contact-message > button.btn:hover{
    background-color: var(--secondaryColor);
    color: black;
}

.subscribe-area > button:hover{
    background-color: var(--secondaryColor);
    filter: brightness(.8);
}



footer{
    width: 87rem;
    margin: 3rem auto;
    background-color: var(--primaryColor);
    /*padding: 1rem 0;*/
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

.footer-header{
    font-size: 1.9rem;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: 500;
    margin: 1rem 0;
}

.footer-text1 li{
    padding: .6rem 0;
    color: #d0cfd0;
    font-family: 'Roboto', sans-serif;
}

.footer-text p{
    padding: .6rem 0;
    color: #d0cfd0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    width: 23rem;
}

.footer-text input{
    margin: 1rem 0;
    padding: 0 .8rem;
    display: block;
    width: 23rem;
    height: 3rem;
    outline: none;
    border: none;
    border-radius: 2rem;
}

.footer-text button{
    padding: .8rem 2rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    background-color: #DEEF0B;
    font-family: 'Sono', sans-serif;
    font-weight: 500;
    font-size: .9rem;
}



/* MEDIA QUERY */

/* Phone Screen and tablets- Max-width 700px */
@media  screen and (max-width: 1200px) {
    .navbar{
        justify-content: space-between;
        align-items: center;
        margin: 0 4rem;
    }

    .nav-title a{
        font-size: 1.6rem;
        font-weight: 500;
    }
    
    .navbar{
        padding: 2rem 1.2rem;
    }

    .navlinks{
        display: flex;
        justify-content: space-between;
        background-color: unset;
        position: unset;
        width: unset;
        height: unset;
        top:unset;
        right: unset;
    }

    .navlinks li{
        font-size: 1.3rem;
    }
    

    .hamburger{
        display: none;
    }

    .fa-times{
        display: none;
    }

    .navlinks ul{
        display: flex;
    }

    .navlinks ul, .account{
        position: unset;
        left: unset;
        top: unset;
    }

    .navlinks li{
        padding: 0 1rem;
        font-size: 1.1rem;
        font-family: 'Ubuntu', sans-serif;
        border-bottom: unset;
    }

    .account{
        display: none;
    }

    .account1{
        display: block;
        font-size: 1.1rem;
    }

    
    .contact-container {
        align-items: start;
    }

    .contact-container > div.contact-box{
        flex-direction: column;
        margin-top: 4rem;
        width: 90%;
        padding: 1rem;
    }

    div.contact-box > article.contact-list,
    div.contact-box > article.contact-message{
        width: 100%;
    }

    article.contact-list > h2.contact-heading{
        text-align: center;
    }

    section.contact-footer{
        position: relative;
        display: block;
        inset: 0;
        margin-top: 1rem;
        padding: 0 1rem;
    }

    .subscribe-area{
    width: 100%;   
    }

    section.contact-footer > address{
    padding-left: 0;
    margin-top: 1rem;
    }
}