body {
    /* max-height: 100vh; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color: var(--textColor);
    font-family: 'Roboto', sans-serif;
    
}

.container-all {
    display: grid;
    grid-template-columns: 37vw 1fr;
    /* max-height: 100vh; */
    /* width: 100vw; */
    
    
  }
  
.left-column, .right-column {
    display: flex;
    flex-direction: column;
    
    /* padding: 20px; */
}
.left-column{
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* padding: 1rem; */
    /* border:1px solid red; */
    /* background-color: #1C5436; */
}



.form-content{
    /* border:1px solid red; */
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}

.form-container{
    /* border:1px solid green; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* margin: 5rem 0; */
}

.nav-title a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}


.titlehead{
    text-align: center;
    /* margin: 4.5rem 0; */
}

a{
    text-decoration: none;
    color: #fff;
}

.titlehead1{
    margin: .6rem 0;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 600;
}

.titlehead2{
    font-size: 1rem;
    color:#d0cfd0;
}

.signup{
    /* border: 1px solid green; */
    width: 20rem;
    margin: auto;
}

.textinput{
    display: flex;
    align-items: center;
    margin: 3.5rem 0;
    /* padding: 0.2rem; */
}

.textinput i{
    padding-bottom: 0.5rem;
}

.textinput input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #b5b1b5;
    width: 100%;
    padding: 0 1.6rem;
    color: #fff;
}

.fa{
    position: relative;
    left: 1rem;
}

.reminder{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.signup-btn{
    width: 100%;
    border: none;
    background-color: var(--secondaryColor);
    margin: 1rem 0;
    padding: .8rem 0;
    border-radius: .3rem;
    text-align: center;
    
    color: #000;
    text-align: center;
    font-family: 'Sono', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/* .signup-btn a{
    color: #000;
    text-align: center;
    font-family: 'Sono', sans-serif;
    font-weight: 500;
} */


.log{
    text-align: center;
    color: #d0cfd0;
}
.right-column{
    background-color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/img9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.right-column-content{
    /* height: 100%; */
    display: flex;
    flex-direction:column; 
    /* width: 460px;  */
    justify-content: center; 
    align-items: center
}



.bottom{
    display: flex;
}

@media screen and (max-width: 1280px) {
    .bottom{
     padding-top: 9rem;
    }

    .left-column{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .form-content{
        /* border: 1px solid red; */
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}

@media screen and (min-width: 1024px) {
    .form-container{
        padding-top: 9rem;
    }

}



  @media screen and (max-width: 971px) {
    .container-all {
      grid-template-columns: 1fr;
    }

    .left-column{
        /* height: fit-content; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-content{
        /* border: 1px solid red; */
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .form-container{
        margin-top: 5rem;
    }

    .right-column{
        display: none;
    }

    
   

   

    .form{
        /* height: 70vh ; */
        width: 100%;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   
   
  }

  @media screen and (max-width: 915px) {
      .bottom{
        padding-top: 55rem;
    }

  }

  @media screen and (max-width: 825px) {
    .left-column{
        display: column;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        
    }

    .form-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
      
    }

    .form-container{
        margin-top: 5rem;
        /* margin-bottom: 30rem; */
    }

    .right-column{
        display: none;
    }

     .bottom{
        padding-top: 4rem;
    }
   

}

@media screen and (max-width: 545px) {
     .bottom{
        padding-top: 15rem;
    }
   

}

  

 

  @media screen and (max-width: 453px) {
    .left-column{
        display: column;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        
    }

    .form-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 90vh;
      
    }


    /* .bottom{
        padding-top: 15rem;
    }
    */

  }

  @media screen and (max-width: 416px) {
    .left-column{
        display: column;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        
    }

    .form-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 90vh;
      
    }


    .bottom{
        padding-top: 25rem;
    }
   

  }

  @media screen and (max-width: 285px) {
    .reminder span{
        padding: 1rem;
    }

  }