body {
    max-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color: var(--textColor);
    font-family: 'Ubuntu', sans-serif;
    
}

.container {
    display: grid;
    grid-template-columns: 50vw 50vw;
    max-height: 100vh;
    
  }
  
.left-column, .right-column {
    display: flex;
    flex-direction: column;
    
    /* padding: 20px; */
}
.left-column{
    background-color: #1C5436;
}

.icon-bar div{
    display: grid;
    grid-template-columns:repeat(2,11.04vw 30vw);
}

.form-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}

.form{
    display:grid;
    grid-template-rows: repeat(6, 0.5fr 0.5fr 1fr 1fr 0.5fr 40px );
    justify-content:center;
    grid-gap: 9px;
    align-items:center;
    height: 60vh;
    /* max-height:100vh ; */
}

.form header{
    color: #Deef0b;
    font-size: 28px;
    font-weight:600;
    text-align: start

}

.form-subheader{
    color: #d0cfd0;
    font-size: 16px;
    font-weight: 400;
    text-align: start
} 

.form-textfield p{
    color:#d0cfd0;
    font-size: 14px;
    font-weight: 600

}

.form-textfield input{
    width: 98%;
    height: 44px;
}

.form button{
    width:100%;
    height: 44px;
    background-color: #Deef0b;
    border: none;
    color: #1d1d1d;;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 19px;
}

.form-button-text{
    text-align: center;
}

.footer-div{
    height: 10vh; 
    /* width: 100%; */
    display: flex;
    /* align-items: end; */
    justify-content:end

}
footer{
    display: flex;
    flex-direction: row;
    padding: 8px;
    justify-content: space-between;
    width: 100%
}

footer span p{
    color: #d0cfd0;
    font-size: 14px; 
    font-weight: 400;
    line-height: 20px
}

.footer-div div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-column{
    background: linear-gradient(45deg, #1C5436 0%, #Deef0b 100%)
}

.right-column div{
    /* border:2px solid green; */
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-column-content{
    height: 100%;
    display: flex;
    flex-direction:column; 
    width: 460px; 
    justify-content: center; 
    align-items: center
}
.right-column-picture{
    background: rgba(255, 255, 255, 0.1);
    max-height: 320px;
    width: inherit;
    border-radius: 12.8px
}

.right-column-heading{
    max-height: 30px;
    width: inherit;
}
.right-column-heading p{
    color:black;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center
}

.right-column-text{
    max-height: 58px; 
    width: inherit
}

.right-column-text p {
    color: black; 
    font-size: 16px;
    font-weight: 400; 
    line-height: 24px; 
    text-align: center; 
    margin-top:5px
}
.right-column-icon{
    max-height: 30px;
    width: inherit;
    margin-top: 5px
} 

/* 768px */
  @media screen and (max-width: 971px) {
    .container {
      grid-template-columns: 1fr;
    }

    .right-column{
        display: none;
    }

    .icon-bar{
        display: none;
    }

    .form{
        /* height: 70vh ; */
        width: 65vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-textfield{
        width: inherit;
    }

    .btndiv{
        width: inherit;
        margin-top:16px ;
    }
  }

