body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    
}
.container {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
}
.red-text{
    color:red;
}
.card {
    background-color: white;
    padding: 50px;
    width: 23rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top:  1.5rem;
}
label{
    font-weight: 650;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus{
    outline: none;
}
input[type=password] {
    padding: 9px;
    margin: 30px 0;
    width: 100%;
    border: 1.9px solid #f2f2f2;
    border-radius: 5px;
}
button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    /* border-radius: 3px; */
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size:large;
    width: 24.3rem;
    /* 24.3rem; */
}
button:hover {
    background-color: #Deef0b;;
}
@media screen and (max-width: 900px) {
    .card {
      
        width: 15rem;
        
    }
    .red-text{
        font-size: 11.6px;
    }

    .card {
       
        margin-top:  0.5rem;
    }
    button{
        width: 16.3rem;
    }

}