*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-item{
    display: flex;
}

.nav-title a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}


.titlehead{
    text-align: center;
    margin: 4.5rem 0;
}

a{
    text-decoration: none;
    color: #fff;
}


.first-half{
    width: calc(100% - 45rem);
    height: 100vh;
    background-color: var(--primaryColor);
}

.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.titlehead1{
    margin: .6rem 0;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 600;
}

.titlehead2{
    font-size: 1rem;
    color:#d0cfd0;
}

.signup{
    width: 25rem;
    margin: auto;
}

.textinput{
    margin: 3rem 0;
}

.textinput input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    /*padding: 0 .3rem;*/
    color: #fff;
}

.reminder{
    display: flex;
    justify-content: center;
    color: #fff;
}

.reminder span{
    margin-left: 5px;
}

.signup-btn{
    background-color: var(--secondaryColor);
    margin: 1rem 0;
    padding: .8rem 0;
    border-radius: .3rem;
    text-align: center;
}

.signup-btn a{
    color: #000;
    text-align: center;
    font-family: 'Sono', sans-serif;
    font-weight: 500;
}


.log{
    text-align: center;
    color: #d0cfd0;
}

.second-half{
    width: 70rem;
    height: 100vh;
    background-color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/img9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



@media screen and (max-width: 400px) {
    .container-flex{
        margin: 2rem 0;
    }

    .flex-item{
        display: unset;
    }

    .second-half{
        display: none;
    }

    .first-half{
        width: 100%;
    }

    .signup{
        width: 100%;
        margin: unset;
    }
    
}

@media screen and (max-width: 500px) {
    .flex-item{
        display: unset;
    }

    .second-half{
        display: none;
    }

    .first-half{
        width: unset;
    }

    .signup{
        width: unset;
        margin: unset;
    }
    
}
