body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color: var(--textColor);
    font-family: 'Ubuntu', sans-serif;
    
}

.container-all {
    display: grid;
    grid-template-columns: 37vw 63vw;
    height: 100vh;
    width: 100vw;
    
    
  }
  
.left-column, .right-column {
    display: flex;
    flex-direction: column;
    
    /* padding: 20px; */
}
.left-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
    /* background-color: #1C5436; */
}



.form-content{
    border:1px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}

.form-container{
    border:1px solid green;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: 5rem 0; */
}

.nav-title a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}


.titlehead{
    text-align: center;
    /* margin: 4.5rem 0; */
}

a{
    text-decoration: none;
    color: #fff;
}

.titlehead1{
    margin: .6rem 0;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 600;
}

.titlehead2{
    font-size: 1rem;
    color:#d0cfd0;
}

.signup{
    /* width: 20rem; */
    margin: auto;
}

.textinput{
    display: flex;
    align-items: center;
    margin: 3rem 0;
}

.textinput input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #b5b1b5;
    width: 100%;
    padding: 0 1.6rem;
    color: #fff;
}

.fa{
    position: relative;
    left: 1rem;
}

.reminder{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.signup-btn{
    background-color: var(--secondaryColor);
    margin: 1rem 0;
    padding: .8rem 0;
    border-radius: .3rem;
    text-align: center;
}

.signup-btn a{
    color: #000;
    text-align: center;
    font-family: 'Sono', sans-serif;
    font-weight: 500;
}


.log{
    text-align: center;
    color: #d0cfd0;
}
.right-column{
    background-color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/img9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.right-column-content{
    height: 100%;
    display: flex;
    flex-direction:column; 
    /* width: 460px;  */
    justify-content: center; 
    align-items: center
}



/* .right-column-picture{
    background: rgba(255, 255, 255, 0.1);
    max-height: 320px;
    width: inherit;
    border-radius: 12.8px
}
.right-column-heading{
    max-height: 30px;
    width: inherit;
}
.right-column-heading p{
    color:black;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center
}
.right-column-text{
    max-height: 58px; 
    width: inherit
}
.right-column-text p {
    color: black; 
    font-size: 16px;
    font-weight: 400; 
    line-height: 24px; 
    text-align: center; 
    margin-top:5px
}
.right-column-icon{
    max-height: 30px;
    width: inherit;
    margin-top: 5px
}  */


  @media screen and (max-width: 971px) {
    .container-all {
      grid-template-columns: 1fr;
    }

    .left-column{
        border: 1px solid red;
    }

    .right-column{
        display: none;
    }

    
    .form-content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
    }

    /* .icon-bar{
        padding-top: 20px;
        
    }

    .icon-bar i{
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius:38px;
        font-size: 1.3em;
        color:#ffff; 
        background-color:#Deef0b; 
        width:40px; 
        height:40px;
        
     } */

    .form{
        /* height: 70vh ; */
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-container{
        border: 2px solid var(--textColor);
        border: 2px solid #555;
        border-radius: .25rem;
        width: 100%;
    }


    .form-textfield{
        width: inherit;
    }

    .btndiv{
        width: inherit;
        margin-top:16px ;
    }

   
  }

  @media screen and (max-width: 831px) {
    .form-content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
    }

  }

  @media screen and (max-width: 453px) {
    .form-content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98vw;
    }

  }