*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1D1D1D;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}
.nav{
    background-color: #191919;
    box-shadow: 0 0 5px #232323;
    position: sticky;
    top: 0;
}

.nav-title a{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.hamburger{
    display: block;
}

.hamburger span{
    display: block;
    width: 2rem;
    height: 2px;
    background-color: #fff;
    margin: 4px;
}

.navlinks{
    display: none;
    background-color: #1D1D1D;
    position: absolute;
    width: 80%;
    height: 100vh;
    top: 0;
    right: 0;
}

.navlinks div, .account{
    position: relative;
    left: 2rem;
    top: 4rem;
}

.navlinks span{
    padding: 1rem 0;
    font-size: 1.1rem;
    border-bottom: 1px solid #414040;
    display: block;
}

.navlinks span:hover{
    color: #DEEF0B;
}

.navlinks span:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.account{
    display: block;
    font-size: 1.1rem;
}

.account a:hover{
    color: #DEEF0B;
}

.account:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.account1{
    display: none;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #DEEF0B;
    padding: .4rem 1.5rem;
}

.account1 a{
    color: #000;
}

.account1:hover {
    background-color: #9ca704;
}

.account1:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.navlinks.show {
    display: block;
  }

.fa-times{
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    font-size: 1.8rem;
}


/*BACKGROUND*/
.sms{
    margin-bottom: 2rem;
    width: 100%;
}

.photo img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.photo{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/img19.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.photo-details{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.photo-text{
    margin-top: 10rem;
}

.photo-text span{
    display: block;
}

.photo-span1{
    font-size: 2.2rem;
    font-weight: 500;
}

.photo-span2{
    font-size: 2rem;
    font-weight: 500;
    color: #DEEF0B;
}


/*SECT 1*/
.about{
    margin: 2rem 0;
}

.about1{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}


/*SECT 2*/
.sect2-about{
    width: 95%;
    margin: 0 auto;
}

.sect2-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.item-image{
    height: 24rem;
}

.text-container{
    width: 100%;
}

.sect2text1{
    margin-top: 1.5rem;
    margin-bottom: 2.3rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.sect2text2{
    margin: 2rem 0;
    font-size: .9rem;
    /*white-space: 4px;*/
    word-spacing: 3px;
    font-weight: 200;
    color: #d0cfd0;
}

.sect2btn{
    padding: .5rem 1.3rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #DEEF0B;
    outline: none;
    border: none;
    margin-bottom: 1.5rem;
}

.liststyle{
    display: flex;
    align-items: center;
    margin: 1.3rem 0;
}

.liststyle span{
    margin-left: 1rem;
    font-size: .9rem;
}



/*SECT 5 - OUR TRAINERS*/
.sect5{
    width: 95%;
    margin: 2rem auto;
    padding: 1rem 0;
}

.sect5-container{ 
    margin: 3rem 0;
}

.sect5-header{
    margin: 3.5rem 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
}

.sect5-header span{
    color: #DEEF0B;
}

.sect5-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sect5-image img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.sect5-image img:hover{
    transform: scale(1.05);
}

.sect5-image img:hover{
    transition-duration: 0.3s;
}

.sect5-image{
    width: 20rem;
    /*height: 10rem;*/
    margin: .5rem .7rem;
}

.coach span{
    display: block;
    text-align: center;
    margin: .5rem 0;
}

.coachname{
    font-size: 1.4rem;
    font-weight: 500;
}

.coachwork{
    font-size: .9rem;
    color: #d0cfd0;
}

.line{
    width: 100%;
    background-color: #414040;
    height: 1px;
}


/*FOOTER*/
footer{
    width: 95%;
    margin: 2rem auto;
}

.footer-container{
    display: flex;
    flex-direction: column;
}

.footer-item{
    padding: 1rem 0;
}

.footer-header{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .7rem;
}

.footer-text1{
    color: #d0cfd0;
}
.footer-text1 span{
    margin-bottom: .8rem;
    display: block;
}

.footer-text1 span:hover{
    color: #DEEF0B;
    cursor: pointer;
}

.footer-text p{
    color: #d0cfd0;
}

.footer-item input{
    margin: 1rem 0;
    width: 100%;
    height: 3rem;
    padding: 0 .6rem;
    outline: none;
    border: 1px solid #d0cfd0;
    background-color: transparent;
}

.footer-btn{
    width: 50%;
    padding: .8rem 2rem;
    border: none;
    outline: none;
    background-color: #DEEF0B;
    font-weight: 500;
    font-size: 1rem;
}




@media screen and (min-width: 750px) {
.navlinks{
    width: 50%;
}


/*SECT 2*/
.sect2-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text-container{
    width: 90%;
}

.item-image img{
    width: 90%;
}

.item-image{
    height: 55vh;
}


/*SECT 5*/
.sect5-image{
    width: 22%;
    margin: .5rem .5rem;
}

/*FOOTER*/
.footer-container{
    flex-direction: row;
    justify-content: space-between;
}

.footer-item{
    padding: unset;
}

.footer-btn{
    width: 50%;
    padding: .8rem 1.6rem;
    font-size: .8rem;
}

.news{
    width: 35%;
}

.footer-item input{
    width: 100%;
}


}




@media screen and (min-width: 1024px) {
    .navbar{
        justify-content: space-between;
        align-items: center;
        margin: 0 4rem;
    }

    .nav-title a{
        font-size: 1.6rem;
        font-weight: 500;
    }

    .navbar{
        padding: 2rem 1.2rem;
    }

    .navlinks{
        display: flex;
        justify-content: space-between;
        background-color: unset;
        position: unset;
        width: unset;
        height: unset;
        top:unset;
        right: unset;
    }
    .navlinks span{
        font-size: 1.3rem;
    }

    .hamburger{
        display: none;
    }

    .fa-times{
        display: none;
    }

    .navlinks div{
        display: flex;
    }

    .navlinks div, .account{
        position: unset;
        left: unset;
        top: unset;
    }

    .navlinks span{
        padding: 0 1rem;
        font-size: 1.1rem;
        border-bottom: unset;
    }

    .account1{
        display: block;
    }

    .account span{
        display: none;
    }

    /*BACKGROUND*/
    .photo-span1{
        font-size: 3.2rem;
    }

    .photo-span2{
        font-size: 3rem;
    }

    .about1{
        font-size: 2.7rem;
    }


    /*SECT 2*/
    .sect2-flex{
        justify-content: space-evenly;
        flex-direction: unset;
    }

    .item-image{
        height: 35rem;
    }
    
    .text-container{
        width: 65%;
    }

    .item-image img{
        width: 90%;
    }

    .sect2text1{
        margin-top: unset;
        font-size: 2rem;
    }

    .sect2text2{
        font-size: 1rem;
    }

    .sect2btn{
        padding: .7rem 2rem;
    }

    .liststyle span{
        font-size: 1rem;
    }


    /*SECT 5 - OUR TRAINERS*/
    .sect5-image{
        width: 30%;
        margin: .5rem .5rem;
    }

/*FOOTER*/
.footer-container{
    flex-direction: row;
    justify-content: space-between;
}

.footer-item{
    padding: unset;
}

.footer-btn{
    width: 35%;
    padding: .8rem 1.4rem;
}

.news{
    width: 35%;
}

.footer-item input{
    width: 100%;
}
}