*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1D1D1D;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.nav{
    background-color: #191919;
    box-shadow: 0 0 5px #232323;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.nav-title a{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.hamburger{
    display: block;
}

.hamburger span{
    display: block;
    width: 2rem;
    height: 2px;
    background-color: #fff;
    margin: 4px;
}

.navlinks{
    display: none;
    background-color: #1D1D1D;
    position: absolute;
    width: 80%;
    height: 100vh;
    top: 0;
    right: 0;
}

.navlinks span{
    display: block;
}

.navlinks > i.fa-times{
    z-index: 10;
}

.navlinks div, .account{
    position: relative;
    left: 2rem;
    top: 4rem;
}

.navlinks span{
    padding: 1rem 0;
    font-size: 1.1rem;
    border-bottom: 1px solid #414040;
}

.navlinks span:hover{
    color: #DEEF0B;
}

.navlinks span:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.account{
    font-size: 1.1rem;
}

.account a:hover{
    color: #DEEF0B;
}

.account:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.account1{
    display: none;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #DEEF0B;
    padding: .4rem 1.5rem;
}

.account1 a{
    color: #000;
}

.account1:hover {
    background-color: #9ca704;
}

.account1:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.navlinks.show {
    display: block;
  }

.fa-times{
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    font-size: 1.8rem;
}


/*BACKGROUND IMAGE*/
.sms{
    margin-top: 6rem;
}

.bg-img{
    margin: 3rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/img29.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 57vh;
}


/*SECT 1*/
.flex-texts1{
    width: 90%;
    margin: 1rem auto;
    padding: 1.5rem 0;
}


.flex-texts2 .flex-header{
    margin: 1rem 0;
    font-size: 1.3rem;
    font-weight: 500;
}

.flex-texts2 .flex-date{
    font-weight: 500;
    margin-bottom: 1rem;
}

.flextext .p1{
    margin-bottom: 1rem;
    color: #d0cfd0;
}

.flextext li{
    color: #d0cfd0;
    list-style: circle;
    margin-bottom: 1rem;
    font-size: 1rem;
    list-style-position: inside;
}

.arror-key{
    color: #d0cfd0;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.prev:hover{
    color: #DEEF0B;
    cursor: pointer;
}

.prev{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.next:hover{
    color: #DEEF0B;
    cursor: pointer;
}

.next{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}


/*SECT 2*/
.form{
    margin: 2rem 0;
    padding-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
}

.form-head{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
}

.form-inputs{
    display: flex;
    flex-direction: column;
}

.form-inputs input{
    margin: .7rem 0;
    width: 100%;
    height: 3rem;
    border-radius: .3rem;
    border: 1px solid #d0cfd0;
    outline: none;
    padding: 0 .8rem;
    background-color: transparent;
    color: #fff;
}

#text{
    margin: 1rem 0;
    width: 100%;
    outline: none;
    border: 1px solid #d0cfd0;
    background-color: transparent;
    padding: 0 .6rem;
    font-size: 1rem;
    border-radius: .3rem;
    color: #fff;
}


.form-btn{
    margin: 1rem 0;
    padding: .7rem 1.6rem;
    outline: none;
    border: none;
    border-radius: .3rem;
    background-color: #DEEF0B;
    font-size: 1rem;
    font-weight: 500;
}

/*LINE*/
.line{
    width: 100%;
    height: 1px;
    background-color: #414040;
}


/*FOOTER*/
/*FOOTER*/
footer{
    width: 95%;
    margin: 2rem auto;
}

.footer-container{
    display: flex;
    flex-direction: column;
}

.footer-item{
    padding: 1rem 0;
}

.footer-header{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .7rem;
}

.footer-text1{
    color: #d0cfd0;
}
.footer-text1 span{
    margin-bottom: .8rem;
    display: block;
}

.footer-text1 span:hover{
    color: #DEEF0B;
    cursor: pointer;
}

.footer-text p{
    color: #d0cfd0;
}

.footer-item input{
    margin: 1rem 0;
    width: 100%;
    height: 3rem;
    padding: 0 .6rem;
    outline: none;
    border: 1px solid #d0cfd0;
    background-color: transparent;
}

.footer-btn{
    width: 50%;
    padding: .8rem 2rem;
    border: none;
    outline: none;
    background-color: #DEEF0B;
    font-weight: 500;
    font-size: 1rem;
}




@media screen and (min-width: 768px) {
    .navlinks{
        display: none;
    }

    /*BACKGROUND*/
    .bg-img{
        height: 82vh;
    }

    /*SECT 1*/
    .flex-texts2 .flex-header{
        font-size: 2.5rem;
    }

    .flex-texts2 .flex-date{
        font-size: 1.1rem;
    }

    .flextext .p1{
        font-size: 1.2rem;
    }
    
    .flextext li{
        font-size: 1.2rem;
    }

    .arror-key{
        font-size: 1.2rem;
    }

    /*FORM*/
    .form-head{
        font-size: 2rem;
    }

    .form-inputs{
        flex-direction: row;
    }

    .form-inputs input{
        margin: 0 .5rem;
        height: 3.7rem;
        font-size: 1rem;
    }

    .form-btn{
        padding: 1rem 2.5rem;
    }

    /*FOOTER*/
    .footer-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-item{
        padding: unset;
    }

    .footer-btn{
        width: 30%;
    }
}


@media screen and (min-width: 1024px) {
    .navbar{
        justify-content: space-between;
        align-items: center;
        margin: 0 4rem;
    }

    .nav-title a{
        font-size: 1.6rem;
        font-weight: 500;
    }
    
    .navbar{
        padding: 2rem 1.2rem;
    }

    .navlinks{
        display: flex;
        justify-content: space-between;
        background-color: unset;
        position: unset;
        width: unset;
        height: unset;
        top:unset;
        right: unset;
    }

    .navlinks span{
        font-size: 1.3rem;
    }
    

    .hamburger{
        display: none;
    }

    .fa-times{
        display: none;
    }

    .navlinks div{
        display: flex;
    }

    .navlinks div, .account{
        position: unset;
        left: unset;
        top: unset;
    }

    .navlinks span{
        padding: 0 1rem;
        font-size: 1.1rem;
        border-bottom: unset;
    }

    .account span{
        display: none;
    }

    .account1{
        display: block;
        font-size: 1.1rem;
    }

/*BACKGROUND*/
.bg-img{
    height: 82vh;
}

/*SECT 1*/
.flex-texts2 .flex-header{
    font-size: 2.5rem;
}

.flex-texts2 .flex-date{
    font-size: 1.1rem;
}

.flextext .p1{
    font-size: 1.2rem;
}

.flextext li{
    font-size: 1.2rem;
}

.arror-key{
    font-size: 1.2rem;
}

/*FORM*/
.form-head{
    font-size: 2rem;
}

.form-inputs{
    flex-direction: row;
}

.form-inputs input{
    margin: 0 .5rem;
    height: 3.7rem;
    font-size: 1rem;
}

.form-btn{
    padding: 1rem 2.5rem;
}

/*FOOTER*/

.footer-container{
    flex-direction: row;
    justify-content: space-between;
}

.footer-item{
    padding: unset;
}

.footer-btn{
    width: 35%;
    padding: .8rem 1.4rem;
}

.news{
    width: 35%;
}

.footer-item input{
    width: 100%;
}
}


