@font-face {
	font-family: 'ZeroGym-Icons';
	src: url('../../font/ZeroGym/ZeroGym-Icons.eot?x81qeg');
	src: url('../../font/ZeroGym/ZeroGym-Icons.eot?x81qeg#iefix') format('embedded-opentype'),
		url('../../font/ZeroGym/ZeroGym-Icons.woff?x81qeg') format('woff'),
		url('../../font/ZeroGym/ZeroGym-Icons.svg?x81qeg#ZeroGym-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="zrgicon-"],
[class*=" zrgicon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'ZeroGym-Icons' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.zrgicon-trash:before {
	content: "\e900";
}

.zrgicon-heart-fill:before {
	content: "\e905";
}

.zrgicon-share:before {
	content: "\e907";
}

.zrgicon-heart:before {
	content: "\e908";
}

.zrgicon-grid-small:before {
	content: "\e90d";
}

.zrgicon-grid-big:before {
	content: "\e910";
}

.zrgicon-list:before {
	content: "\e911";
}

.zrgicon-setings:before {
	content: "\e917";
}

.zrgicon-hide:before {
	content: "\e918";
}

.zrgicon-facebook1:before {
	content: "\e91c";
}

.zrgicon-google:before {
	content: "\e91d";
}

.zrgicon-arrow-right:before {
	content: "\e901";
}

.zrgicon-award:before {
	content: "\e902";
}

.zrgicon-calendar:before {
	content: "\e903";
}

.zrgicon-cart:before {
	content: "\e904";
}

.zrgicon-check:before {
	content: "\e906";
}

.zrgicon-circle-user:before {
	content: "\e909";
}

.zrgicon-envelope:before {
	content: "\e90a";
}

.zrgicon-facebook:before {
	content: "\e90b";
}

.zrgicon-heart-pulse:before {
	content: "\e90c";
}

.zrgicon-instagram:before {
	content: "\e90e";
}

.zrgicon-linkedin:before {
	content: "\e90f";
}

.zrgicon-money:before {
	content: "\e912";
}

.zrgicon-person:before {
	content: "\e913";
}

.zrgicon-phone:before {
	content: "\e914";
}

.zrgicon-pin:before {
	content: "\e915";
}

.zrgicon-play:before {
	content: "\e916";
}

.zrgicon-plus:before {
	content: "\e919";
}

.zrgicon-quotes:before {
	content: "\e91a";
}

.zrgicon-reply:before {
	content: "\e91b";
}

.zrgicon-search:before {
	content: "\e91e";
}

.zrgicon-star:before {
	content: "\e91f";
}

.zrgicon-time:before {
	content: "\e920";
}

.zrgicon-time-fill:before {
	content: "\e921";
}

.zrgicon-trainer:before {
	content: "\e922";
}

.zrgicon-treadmill-running:before {
	content: "\e923";
}

.zrgicon-twitter:before {
	content: "\e924";
}

.zrgicon-weight-lifting:before {
	content: "\e928";
}

.zrgicon-workout-book:before {
	content: "\e929";
}

.zrgicon-yoga-position:before {
	content: "\e92a";
}

.zrgicon-youtube:before {
	content: "\e92b";
}
