/* CLASS STYLE */
.zrgcore-classes-item .zrgcore-card-info h3 {
	margin-bottom: 20px;
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
}
.zrgcore-classes-item .zrgcore-card-img img {
	min-height: 250px;
	max-height: 250px;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}
.zrgcore-classes-item .zrgcore-card-content {
	background-color: var(--zrg-bg-secondary-color);
	padding: 80px 45px 30px 30px;
}
.zrgcore-classes-item .zrgcore-card-text {
	opacity: 0.7;
	margin-bottom: 40px;
	min-height: 84px;
}

/* CARD TEAM STYLE 1*/
.zrgcore-team-item .zrgcore-card-img img, .zrgcore-team-item a {
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
}
.zrgcore-team-item .zrgcore-card-img {
	overflow: hidden;
}
.zrgcore-team-item:hover .zrgcore-card-img img{
	-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
			transform: scale(1.1);
			opacity: .6;
}
.zrgcore-team-item .zrgcore-card-img {
	margin-bottom: 20px;
}
.zrgcore-team-item .zrgcore-card-img img {
	min-height: 500px;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}
.zrgcore-team-item .zrgcore-job {
	opacity: 0.6;
}
.zrgcore-team-item .zrgcore-socials-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.zrgcore-team-item .zrgcore-socials {
	padding-top: 5px;
}
.zrgcore-team-item .zrgcore-socials-item:not(:last-child) {
	margin-right: 17px;
}
.zrgcore-socials-item a path {
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
}
.zrgcore-socials-item a:hover path {
	fill: var(--zrg-btn-bg-hover);
}

/* CARD TEAM STYLE 3 */
.zrgcore-team-slider-item .zrgcore-card-img img {
	min-height: 500px;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}

.zrgcore-team-slider-item:hover .zrgcore-card-img img {
	opacity: .6;
}
.zrgcore-team-slider-item .zrgcore-card-img {
	margin-bottom: 24px;
}
.zrgcore-card-job {
	opacity: 0.6;
	margin-bottom: 0;
}
/* CARD TEAM STYLE 2 */
.zrgcore-follow-item h4 {
	margin-bottom: 0;
}
.zrgcore-follow-item .zrgcore-card-img img {
	min-height: 500px;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}
.zrgcore-follow-item .zrgcore-card-content {
	background-color: var(--zrg-bg-secondary-color);
	padding: 30px;
}
.zrgcore-follow-item .zrgcore-socials-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.zrgcore-follow-item .zrgcore-socials-item:not(:last-child) {
	margin-right: 17px;
}
/* CARD POST STYLE */
.zrgcore-blog-item .zrgcore-card-img {
	overflow: hidden;
	margin-bottom: 20px;
}
.zrgcore-blog-item .zrgcore-img {
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
}
.zrgcore-blog-item .zrgcore-date {
	margin-bottom: 20px;
	opacity: 0.8;
}
.zrgcore-blog-item h3 a {
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
	text-decoration: none;
	color: unset;
}
.zrgcore-blog-item h3 a:hover {
	color: var(--zrg-primary-color);
}
.zrgcore-blog-item:hover img {
	-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
			transform: scale(1.1);
}
.zrgcore-blog-item .date-category {
	position: relative;
	color: var(--zrg-primary-color);
	padding-left: 16px;
	margin-left: 5px;
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
}
.zrgcore-blog-item .date-category:before {
	content: "";
	position: absolute;
	top: calc(50% - 2.5px);
	left: 0;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--zrg-primary-color);
}
.zrgcore-blog-item .date-category:hover {
	color: var(--zrg-primary-color);
}

/* Team slider Item */
.zrgcore-team-slider-item, .zrgcore-team-slider-item a {
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
}
.zrgcore-team-slider-item .card-img {
	margin-bottom: 20px;
}
.zrgcore-team-slider-item:hover .dark-bg {
	opacity: 0.35;
}
.zrgcore-team-slider-item:hover {
	-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
			transform: scale(0.9);
}

.zrgcore-team-item .zrgcore-socials ul {
	padding: 0;
	list-style: none;
}

.zrgcore-video-item .zrgcore-card-img {
	margin-bottom: 20px;
}


/*== Small Laptop and Tablet ==*/
@media (max-width: 1200px) {
	.zrgcore-team-slider-item .zrgcore-card-img img {
		min-height: 400px;
	}
}

/*== Mobile ==*/
@media (max-width: 767px) {
	.zrgcore-posts .col-lg-4:nth-last-child(-n+3) .zrgcore-card {
		margin-bottom: 40px;
	}
	.zrgcore-card {
		margin-bottom: 40px;
	}
	.zrgcore-blog-item {
		margin-bottom: 50px;
	}
}
